/* Game object */
.game {
  margin: auto;
  width: 1376px;
  border: 3px solid green;
  padding: 10px;
  overflow: auto;
  user-select: none;
}
.roll {
  float: left;
}
.end-turn {
  float: right;
}

/* Arena object */
.lexicon {
  display: flex;
  height: 130px;
}

/* Letter object */
.letter {
  margin: 5px;
  color: #ffffff;
  display: block;
}
.value {
  background-color: #787c7e;
  width: 80px;
  height: 80px;
  font-size: 50px;
  text-align: center;
}
.stats {
  width: 80px;
  -webkit-text-stroke: 1px black;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  line-height: 38px;
}
.dmg {
  float: right;
  height: 40px;
  width: 38px;
  background-image: url("/public/Attack.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.hp {
  float: left;
  height: 40px;
  width: 38px;
  background-image: url("/public/Heart.png");
  background-size: cover;
  background-repeat: no-repeat;
}
