/* Game object */
.game {
  margin: auto;
  width: 1376px;
  height: 800px;
  border: 3px solid green;
  padding: 10px;
  overflow: hidden;
  user-select: none;
  background-image: url("/public/Field.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.stats-bar {
  display: inline-flex;
  background-color: white;
  border: 7px black double;
  border-radius: 10px;
  height: 50px;
  margin: 10px;
  padding: 3px;
}
.stat-number {
  text-align: right;
  width: 100%;
  font-size: 40px;
  line-height: 25px;
  font-weight: 500;
}
#money {
  width: 95px;
}
#lives {
  width: 95px;
}
#wins {
  width: 125px;
}
#round {
  width: 100px;
}
.roll {
  float: left;
}
.end-turn {
  float: right;
}
.signs {
  height: 95px;
}

/* Lexicon object */
.lexicon {
  display: flex;
  height: 130px;
}
#owned {
  background-image: url("/public/Rock.png");
  background-size: cover;
  background-position: 0px 45px;
  background-size: 90px 60px;
  background-repeat: repeat-x;
}
#freezer {
  display: inline-flex;
  vertical-align: top;
  min-width: 270px;
}
#freezer::after {
  position: absolute;
  content: "";
  width: 270px;
  height: 90px;
  pointer-events: none;
  background-image: url("/public/Freezer.png");
  background-repeat: repeat-x;
  background-size: 90px 90px;
}
#shop {
  display: inline-flex;
  vertical-align: top;
  background-image: url("/public/Rock.png");
  background-size: cover;
  background-position: 0px 45px;
  background-size: 90px 60px;
  background-repeat: repeat-x;
}

/* Letter object */
.letter {
  margin: 5px;
  color: #ffffff;
  display: block;
}
.value {
  background-color: #787c7e;
  width: 80px;
  height: 80px;
  font-size: 50px;
  text-align: center;
}
.stats {
  width: 80px;
  -webkit-text-stroke: 1px black;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  line-height: 38px;
}
.dmg {
  float: right;
  height: 40px;
  width: 38px;
  background-image: url("/public/Attack.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.hp {
  float: left;
  height: 40px;
  width: 38px;
  background-image: url("/public/Heart.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Battle object */
.lexicon.opponent {
  animation: approach 1s;
}
@keyframes approach {
  0% {
    transform: translate(1500px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.letter.owned {
  animation: down 0.3s;
}
@keyframes down {
  0% {
    transform: translate(0px, 5px);
  }
  10% {
    transform: translate(0px, 10px);
  }
  20% {
    transform: translate(0px, 15px);
  }
  30% {
    transform: translate(0px, 30px);
  }
  40% {
    transform: translate(0px, 60px);
  }
  50% {
    transform: translate(0px, 150px);
  }
  60% {
    transform: translate(0px, 60px);
  }
  70% {
    transform: translate(0px, 30px);
  }
  80% {
    transform: translate(0px, 15px);
  }
  90% {
    transform: translate(0px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.letter.opponent {
  animation: up 0.3s;
}
@keyframes up {
  0% {
    transform: translate(0px, -5px);
  }
  10% {
    transform: translate(0px, -10px);
  }
  20% {
    transform: translate(0px, -15px);
  }
  30% {
    transform: translate(0px, -30px);
  }
  40% {
    transform: translate(0px, -60px);
  }
  50% {
    transform: translate(0px, -150px);
  }
  60% {
    transform: translate(0px, -60px);
  }
  70% {
    transform: translate(0px, -30px);
  }
  80% {
    transform: translate(0px, -15px);
  }
  90% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
