/* Game object */
.game {
  margin: auto;
  width: 1376px;
  border: 3px solid green;
  padding: 10px;
  overflow: auto;
  user-select: none;
}
.stats-bar {
  display: inline-flex;
  background-color: grey;
  height: 50px;
  margin: 10px;
  padding: 10px;
  font-size: 40px;
  line-height: 27px;
  justify-content: end;
}
#money {
  width: 100px;
}
#lives {
  width: 100px;
}
#wins {
  width: 150px;
}
#round {
  width: 100px;
}
.roll {
  float: left;
}
.end-turn {
  float: right;
}

/* Lexicon object */
.lexicon {
  display: flex;
  height: 130px;
}
#owned {
  background-color: lightyellow;
}
#freezer {
  display: inline-flex;
  background-color: lightskyblue;
  vertical-align: top;
  min-width: 90px;
}
#shop {
  display: inline-flex;
  vertical-align: top;
}

/* Letter object */
.letter {
  margin: 5px;
  color: #ffffff;
  display: block;
}
.value {
  background-color: #787c7e;
  width: 80px;
  height: 80px;
  font-size: 50px;
  text-align: center;
}
.stats {
  width: 80px;
  -webkit-text-stroke: 1px black;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  line-height: 38px;
}
.dmg {
  float: right;
  height: 40px;
  width: 38px;
  background-image: url("/public/Attack.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.hp {
  float: left;
  height: 40px;
  width: 38px;
  background-image: url("/public/Heart.png");
  background-size: cover;
  background-repeat: no-repeat;
}
